@{
    ViewBag.Title = "Admin";
}

@section masterjs
{
    <script src="~/Scripts/app/admin_index.js"></script>
}

<form>
    <style type="text/css">
        fieldset {
            margin: 20px;
            padding: 0 10px 10px;
            border: 1px solid #666;
            border-radius: 8px;
            box-shadow: 0 0 10px #666;
            padding-top: 10px;
        }

        legend {
            padding: 2px 4px;
            color: #fff;
            background: #1996e4;
            /* For better legibility against the box-shadow */
        }

        fieldset > legend {
            float: left;
            margin-top: -20px;
        }

        .window-footer {
            position: absolute;
            bottom: 0;
            display: block;
            width: 95%;
            margin-top: 150px;
            padding: 19px 0 20px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
        }
    </style>
    <fieldset>
        <legend>Configuration:</legend>
        <br />
        <button type="button" id="btn_Dropdown" class="k-buttons-vertical k-button">Enter DropDown Data</button>
    </fieldset>
</form>
<div id="products-orders-main-content" class="main-section-content">
    <div id="window" style="display:none"></div>
</div>
<script id="templateDropDownEditor" type="text/x-kendo-template">
    <div id="divDropDownEditorForm">
        <div class="form-group">
            <table id="tblForm" style="width:100%; border-collapse:separate; border-spacing:1em;">
                <tr>
                    <td><input id="comboDropDownItems" /></td>
                </tr>
                <tr>
                    <td><div id="gridDropDownItems"></div></td>
                </tr>
            </table>
        </div>
        <div class="window-footer">
            <button type="button" id="btn_Cancel" class="k-primary k-button">Cancel</button>
        </div>
    </div>
</script>

<script>
    var url_GetGridData = '@Url.Action("GetGridData", "Admin")';
    var url_UpdateGridData = '@Url.Action("UpdateGridData", "Admin")';
</script>